/*-------------------------------------------CLASSROOM ASSESSMENT CSS-------------------------------------------------------*/

/*-------------------------------------------------COLOUR SCHEME-------------------------------------------------------------*/
/*FIRST COLOUR: rgb(237, 140, 21) REPALCE: rgbrgb(0, 110, 255)*/
/*SECOND COLOUR: rgb(211, 252, 136)*/
/*THIRD COLOUR: rgb(255, 240, 170)*/
/*FOURTH COLOUR: rgb(255, 113, 91) replace: */

/*-------------------------------------------MOBILE DEFAULT STYLES---------------------------------------------------------*/

/*PREVENT ADJUSTMENT OF FONT SIZE AFTER ORIENTATION CHANGE IN IE ON WINDOWS PHONES AND IOS*/

html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

/*APPLY A NATURAL BOX MODEL TO ALL ELEMENTS*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*REMOVE UNDERLINES ON LINKS*/
a{
	text-decoration: none;
}

/*--------------------------------------------HOME STYLES-----------------------------------------------------------*/

/*MAKE IMAGES RESPONSIVE TO CONTAINER AND SCREEN SIZE*/

/*HOME STYLE FOR ALL TEXT*/

body{
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size: 16px;
	color: black;
}
.header{
	/*position: fixed;*/
	background-color: rgba(211, 252, 136, .2);
	width:100%;
}
.headerFlex{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding-bottom: 10px;
	padding-top:10px;
}

.logoC{
	max-height: 50px;
}

.searchB{
	height: 30px;
	width: 25vw;
	margin-top: 10px;
}
button{
	height: 30px;
	margin-top: 10px;
	
}
.searchWButton{
	display: flex;
	justify-content:flex-start;
	margin-right: 30px;
}

.navBG{
	background-image: url(../images/not-hear-2687975_1920.jpg);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	height: 300px;
	width:100%;
	display: flex;
	justify-content: space-between;
}

.slogan{
	color: rgba(255, 113, 91, .9);
	margin-top: 180px;
	padding-top:15px;
	padding-right: 8vw;
	padding-left: 40px;
	margin-bottom: 70px;
	float: right;
	background-color: rgba(211, 252, 136, .95)
}
.navTblock{
	display: flex;
}
.mainLinks{
	padding: 0px 60px 12px 60px;
	margin: 0px;
	font-size: 30px;
	justify-content: space-around;
	color: rgba(255, 113, 91, .9);
	height: 300px;
	background-color: rgba(211, 252, 136, .95);
	list-style: none;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.tBlock{
	width: 5vw;
	height: 300px;
	background-color: rgba(211, 252, 136, .6);
	
}

.tBlock2{
	width: 5vw;
	height: 300px;
	background-color: rgba(211, 252, 136, .3);
}

.liTopBorder{
	border-top: 3px solid;
}
#liNorm{
	width: 20vw;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	padding-top: 12px;
}

.mainArticles{
	display: flex;
	padding: 0px;
	margin: 0px;
	width: 90vw;
	font-size: 16px;
}
.art1{
	display: flex;
	width: 33vw;
}

.art2{
	display: flex;
	width: 33vw;
}
.art3{
	display: flex;
	width: 33vw;
}
h2{
	font-size: 16px;
}

#areaOfExp{
	background-color: rgb(255, 113, 91);
	height:20px;
	width: 320px;
	
}
#article{
	background-color: rgb(255, 113, 91);
	height:20px;
	width: 320px;
}
#quickContact{
	background-color: rgb(255, 113, 91);
	height:20px;
	width: 320px;
}
.innerWrap{
	/*background-color: rgb(255, 113, 91)*/
}
.rotate{
	transform-origin: top left;
	transform: rotate(-90deg) translate(-100%);
	/*background-color: rgb(255, 113, 91);*/
}
.art1Head{
	width: 30px;
}
.art2Head{
	width: 30px
}

.contactHead{
	width:30px
}
.artContent{
}
.about{
	background-color: rgba(211, 252, 136, 0.5);
	padding: 30px;
	display: flex;
	justify-content: space-between;
	margin: 0px;
}
.welcome{
	width: 50vw;
}
.aboutSocial{
	display: flex;
	justify-content: space-between;
}
.socialHead{
	display: table;
}
.socialLogo{
	display: flex;
	flex-flow: column;
	margin: 0px;
	padding: 0px;
	width: 30px;
	right: 10px;
}
#contactContent{
	text-align: right;
	padding-right:10px
}

.footer{
	background-color: rgb(255, 240, 170);
}
.footer h1{
	margin-left: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	font-size: 20px;
}
.footerFlex{
	display: flex;
	justify-content: space-around;

}
.footerFlex li{
	list-style: none;
}

.footerFlex h2{
	margin-left:20px;
}


.liBottomBorder{
	border-bottom: 1px solid;
	border-color: rgb(255, 113, 91);
}

#borderLeft{
	border-left: 1px solid;
	
}

.footMargin{
	margin: 0px;
}
.footCol1{
	width: 33vwpx;
}

.footCol2{
	width:33vw;
}

.footCol3{
	width:33vw;
}
